spring:
  application:
    name: micro-service-activity
  cloud:
    bus:
      trace:
        enabled: true
      enabled: true

server:
  port: 8282

management:
  endpoints:
    web:
      exposure:
        include: bus-refresh

rest:
  userURL: http://micro-service-user

