spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/ars
  application:
    name: micro-service-activity

server:
  port: 8282

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin@localhost:7000/eureka/


