server:
  port: 9000

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ita-gathering/ars-microservice-backend/
          search-paths: config-repo
          force-pull: true
    bus:
      enabled: true
      trace:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin@localhost:7000/eureka/,http://admin:admin@localhost:7001/eureka/


management:
  endpoints:
    web:
      exposure:
        include: bus-refresh